    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .textcolor{
        color: #3b5cbe;
    }
    .cursor{
        cursor: pointer;
    }
    .navbarSection {
    justify-content: space-around;
    /* border: 1px solid black; */
    background-color: #ffffff;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    }

    .logodiv {
      display: flex;
      align-items: center;
      gap: 8px;
      /* border: 1px solid black; */
    }
    .logoBox > span {
    font-size: 17px;
    padding: 3px 10px;
      /* border: 1px solid #c63f60; */
      background-color: #c63f60;
      color: white;
    }
    .logoText > span{
        font-size: 28px;
    }


        .contentdiv{
        /* border: 1px solid black; */
    }
    .contentdiv > ul{
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
        gap: 20px;
    }

    .contentdiv > ul > li{
        color: #636465;
        font-size: 18px;
        cursor: pointer;
        
    }